.talkMenu {
    float: right;
}

.modalCloseBtn {
    float: right;
    border: none;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    font-size: 20px;
}

.modalCloseBtn:hover {
    cursor: pointer;
}

.talkSticky {
    position: sticky !important;
    bottom: 0;
    width: 100%;
    background-color: #FF0456 !important;
    color: white !important;
}

.reportBtn {
    background-color: orange !important;
}

.reportBtn:hover {
    background-color:  rgb(217, 141, 0) !important;
}