.talkDetail {
    margin-top: 10px !important;
    width: 50rem;
    height: 50rem;
    border: 1px solid #F8AA83;
    z-index: 1 !important;
}

// .css-10dgnsb-MuiStack-root>:not(style)+:not(style) {
//     margin: 0;
//     margin-left: 100px;
// }

button#demo-customized-button {
    background-color: #F8AA83;
}

button#demo-customized-button:hover {
    background-color: #fc9e6f;
}

.talkOpMenu {
    float: right;
    margin-right: 20rem;
}

.talkTitle {
    font-size: 30px;
}

.reportBtn {
    float: right;
}