/* modal창 외부화면 */
* {
    z-index: 2 !important;
}

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-left: 0 !important;
}

  /* modal창 */
.modalBody {
    position: absolute;
    width: 400px;
    height: 550px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

#modalCloseBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    font-size: 20px;
}

#modalCloseBtn:hover {
    cursor: pointer;
}

hr {
    margin-top: 10px;
    border: 0;
    height: 2px;
    background-color: #F8AA83;
}

textarea {
    width: 100%;
    height: 5em;
    // border: none;
    resize: none;
}

.talk_img_box {
    width: 200px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}