<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>
	<logger name="com.jsframe.bserver" level="info" />
	<!-- 테이블에 결과를 출력하기 위해서 info 대신 trace설정 -->
	<logger name="jdbc.resultsettable" level="debug" />
	<logger name="jdbc.resultset" level="debug" />
	<logger name="jdbc.sqlonly" level="debug" />
	<logger name="jdbc.audit" level="off" />
	<logger name="jdbc.sqltiming" level="off" />
	<logger name="jdbc.connection" level="off" />
	<root level="debug">
		<appender-ref ref="console" />
	</root>
</configuration>